# ------------------------------
# Visual Studio / IDE
# ------------------------------
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
.idea/
.vscode/
*.DotSettings.user

# ------------------------------
# Build folders
# ------------------------------
bin/
obj/
[Dd]ebug*/
[Rr]elease*/

# ------------------------------
# Project-specific folders
# ------------------------------
# Ignore test projects in Docker context and Git
Tests/

# ------------------------------
# NuGet packages
# ------------------------------
**/packages/*
*.nupkg

# ------------------------------
# Docker / environment
# ------------------------------
Dockerfile
.env

# ------------------------------
# Git
# ------------------------------
.git/

# ------------------------------
# Logs, temporary, coverage
# ------------------------------
*.log
*.tmp
*.pidb
*.svclog
*.cache
*.coverage
*.coveragexml

# ------------------------------
# Misc
# ------------------------------
*.dbmdl
*.bak
*.mdf
*.ldf